:root {
    --main-color: #ea7564;
    --secondary-color: #62c4b7;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--main-color);
    margin-bottom: 4px;
    border-radius: 5px;
}

#delete-btn {
    background: white;
    color: var(--main-color);
}

button {
    background: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: var(--secondary-color);
}